<!DOCTYPE html>
<html>
  <head>
    <title>Ideas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <header class="nav">
  <div class="nav-left">
      <span class="nav-item">
          <span class="fa fa-language"></span>一言SNS
      </span>
  </div>
  <div class="nav-right">
    <span class="nav-item">
      <div class="control has-addons">
        <input class="input" type="search" name="search" placeholder="キーワード検索">
        <a class="button is-info" href="#"><i class="fa fa-search"></i>検索</a>
      </div>
    </span>
    <span class="nav-item">
      <a href="#" class="fa fa-user">ログイン</a>
    </span>
  </div>
  <!-- 記述場所③ --> 
</header>

  <%= yield %>
</div>
    </div>
    <footer>
  <div class="container">
    Rails Girls 2018
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
