 <body>
   <% if notice %>
     <p class="alert alert-notice"><%= notice %></p>
   <% end %>
   <% if alert %>
     <p class="alert alert-error"><%= alert %></p>
   <% end %>

   <%= yield %>
  
 <%= notice %><%= alert %></p>
 <% if user_signed_in? %>
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
 <% else %>
   <%= link_to 'githubでサインアップしてね', user_github_omniauth_authorize_path %>
 <% end %>
 